/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
}